.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
    gap: 1rem;

}

/* .main>* {
    width: 100%;
    height: auto;
} */

.labelSizeHandler {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form {
    display: flex;
    gap: 0.4rem;
}