.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    align-items: center;
}
.form input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .form button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
.card{
    height: 90vh;
    
}