.card {
    height: 50%;
    max-width: 30%;
    margin: 3rem auto;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    /* align-items: center; */
}

.form input[type=email],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.formActions {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

.error {
    color: red;
}